@inherits LayoutComponentBase

@rendermode InteractiveServer

@* Include the CSS file *@
<head>
    <link href="css/chucknorris.css" rel="stylesheet" />
</head>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="date-time">
                @currentDateTime.ToString("yyyy-MM-dd HH:mm:ss")
            </span>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    private DateTime currentDateTime = DateTime.Now;
    private Timer? timer;

    protected override void OnInitialized()
    {
        timer = new Timer(UpdateDateTime, null, 0, 1000);
    }

    private void UpdateDateTime(object? state)
    {
        currentDateTime = DateTime.Now;
        InvokeAsync(() => StateHasChanged()); // Ensure the UI is updated
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}
